body {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 400;
  color: $dark-gray-color;
  letter-spacing: 0.075rem;
}

input,
textarea,
button {
  letter-spacing: 0.075rem;
}

.VaccineCard {
  text-align: center;
  background-color: rgb(206, 213, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.Panel {
  padding-top:10px;
}

.Mission {
  padding-top: 5rem;
  text-align: left;
  padding-left: 16px;
  padding-bottom: 10rem;
  color: #6B6B6B !important;
  font-size: calc(11px + 3vmin) !important;
}
.QuestionBlock {
display: inline-block;
width:100%;
padding-top: 10px;
}
.faq {
  padding-left: 8rem;
}
.ReasonLabel {
  text-align: left;
}
.fa-arrow-left {
  float: left !important;
  font-size: 5.6rem !important;
  padding-left: 2px !important;
  color:white;
}

.Location {
  width: 30rem;
  width: 70%;
  font-size: 5rem;
  margin-top: 10rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.08), 0 5px 15px 0 rgba(0,0,0,0.08);
  box-sizing: border-box;
  background-color: white !important;
  margin-left: 12rem;
}
.css-1aya2g8 {
  background-color: white !important

}
.Cancel {
  color: #00B4F0;
  border-radius: 25px;
  width: 90%;
  font-size: calc(20px + 3vmin);
  display: inline-block;
  align-items: center;
  font-weight:bold;
  padding-top: 3rem;

}
.CancelReason {
  color: #344356;
  font-size: calc(22px + 3vmin);
  justify-content: left;
  font-weight:600;
}
.panel {
  margin-bottom:3px;
}
.FaqTabs {
  width:80%;
  float: left;
  background-color: yellow;
  text-align: left;
}

.ChennaiTricolor {
  width: 90%;
  background-color: yellow;

}
.Latest {
  text-align: left;
  padding-left: 35px;
}
.TricolorImage {
  width:20%;
  float: right;
}
.nav-tabs>li{
  width: 90%;
  text-align: center;
  background-color: yellow;
}

.nav-tabs>li>a {
  color: black;
  text-align: left;
  font-size: calc(10px + 2vmin);
  padding-left:35px;
}
.Questions {
  font-size:2.4rem;
  font-weight: 600;
  float:left;

}

.progress-bar {
  font-size: 3rem;
}

.ProgressText {
  text-align: left;
}
.Completed {
  display: inline-block;
}
.Completed {
  display: inline-block;
}
.VaccineImg {
width: 100%;
}
.Verbiage {
  font-size: calc(10px + 2vmin);
color: gray;
display: flex;
justify-content: center;
display: inline-block;
}

.Register {
  background-color: #00B4F0 ;
color: white;
font-weight: bold;
border-radius: 70px;
width: 90%;
font-size: calc(20px + 2vmin);

}
.Footer {
  margin-top:13rem;
}
.FooterTabs {
  margin-top:60rem;
}

.Pledge {
  text-align:left;
padding-left:35px;

}

.css-1rtrksz {
  height: 15rem;
}

.ReasonText {
  width: 70%;
  font-size: 5rem;
  margin-top: 10rem;
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  outline: 0 !important;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.08), 0 5px 15px 0 rgba(0,0,0,0.08);

box-sizing: border-box;
}

.PledgeText {
  height: 15rem !important;
  font-size:7rem
}
.Submit,.PledgeSubmit {
  background-color: #00B4F0;
  color: white;
  border-radius: 70px;
  width: 90%;
  font-size: calc(20px + 2vmin);  
  margin-top:28rem; 
  font-weight: bold;
}
.PledgeSubmit {
  margin-top:4rem; 

}
.PledgeButton {
  padding-bottom: 25px;
  padding-top: 25px;
}
.PledgeQuestion {
  font-size:2.4rem;
  font-weight: bold;
  padding-top: 30px;
}

.FooterTabs {
  margin-top:64rem;
}
.ReasonText {
  width: 70%;
  height: 7rem;
  font-size: 5rem;
  margin-top: 10rem;
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  outline: 0 !important;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.08), 0 5px 15px 0 rgba(0,0,0,0.08);

box-sizing: border-box;
}
.Submit,.PledgeSubmit {
  background-color: deepskyblue;
  color: white;
  border-radius: 41px;
  width: 70%;
  font-size: calc(10px + 2vmin);
  margin-top:28rem; 
}
.PledgeSubmit {
  margin-top:4rem; 

}
.PledgeButton {
  padding-bottom: 25px;
  padding-top: 25px;
}
.PledgeQuestion {
  font-size:2.4rem;
  font-weight: bold;
  padding-top: 30px;
}

.card_lo {
  background-color: #00B4F0;
  padding: 42px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  font-size: calc(16px + 2vmin);
  color: white;
  font-weight:bold;

}
.confidence{
  padding-left: 1rem;
}
.Header {
  font-weight: bold; 
  font-size: 2.4rem;
}
.Form {
  text-align: center;
}
.CancelCard {
  background-color: white;
  padding: 32px;
  width: 100%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
.Card {
  background-color: white;
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.FaqCard {
  background-color: yellow !important;
  padding: 32px;
  width: 100%;
  display: inline-block;
}
.fa,.fa-angle-up {
  font-size: 2.8rem;
  padding-left:100px;
  float:right;
}

.Answer,.PledgeAnswer {
  font-size: 2.6rem;
}
.PledgeAnswer {
  padding: 2px 2px 2px 2px;
}

.Title {
  font-size: calc(10px + 2vmin);
  color: black;
}
.FaqCard {
  background-color: white;
  color: black;
  font-weight: 300;
  font-size: calc(10px + 3vmin);
}

.loader {
  width: auto;
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: rgb(183, 155, 229);
  border-radius: 5px;
}

.Progress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}
.search-box-element {
  display: block;
  box-sizing: border-box;
  width: 10%;
  height: 3rem;
  padding: 3px 6px;
  border: 1px solid $light-gray-color;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1.25rem;
  color: $medium-gray-color;
  background-color: $white-color;
  border-radius: 1px;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.label-style {
  margin-top: 66px;
font-size: 3rem
}
.Upload {
  width:100%;
}