body {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 400;
  color: $dark-gray-color;
  letter-spacing: rem(0.5);
  max-width: 480px;
  margin: auto;
}

input,
textarea,
button {
  letter-spacing: rem(0.5);
}

input {
  height: rem(20);
}

p {
  font-size: rem(16);
  line-height: 1.2;
}

.VaccineCard {
  text-align: center;
  background-color: rgb(206, 213, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.Panel {
  padding-top:10px;
}

.Mission {
  margin-top: rem(30);
  margin-bottom: rem(30);
  font-size: rem(16.8) !important;
  line-height: 1.1;
  font-weight: 100;
}
.QuestionBlock {
  display: flex;
  align-items: center;
  margin-right: auto;
  width:100%;
  padding-top: 10px;

  .fa-angle-down {
    font-size: rem(25);
    padding-left: rem(5);    
  }
}

.fa-arrow-left {
  float: left !important;
  font-size: 2rem !important;
  padding-left: 2px !important;
  color:white;
}

.css-1aya2g8 {
  background-color: white !important

}
.Cancel {
  color: deepskyblue;
  border-radius: 25px;  
  font-size: rem(16);
  display: inline-block;  
  margin-top: rem(30);
  font-weight: 600;
  background-color: initial;
  border: initial;
}

.CancelReason {
  color: #344356;
}
.panel {
  margin-bottom:3px;
  background-color: white  !important;
  border: none;
  box-shadow: none;
}
.Footer {
  max-width: 480px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: rem(50);
}

.FaqTabs {
  width:80%;
  height: 100%;
  float: left;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.ChennaiTricolor {
  width: 90%;
  background-color: yellow;

}
.Latest {
  text-align: left;
  padding-left: 35px;
}
.TricolorImage {
  display: flex;
  align-items: center;
  width:20%;
  height: 100%;
  float: right;
  background-color: yellow;
}
.nav {
  width: 100%;
}
.nav-tabs>li{
  width: 90%;
  text-align: center;
  background-color: yellow;
}

.nav-tabs>li>a {
  color: black;
  text-align: center;
  font-size: rem(18);
  padding-left: rem(20);
  text-align: left;
}
.Questions {
  font-size: rem(16);
  font-weight: 600;
  float:left;
  margin-right: auto;
}

.progress-bar {
  font-size: 3rem;
}

.ProgressText {
  text-align: left;
}
.Completed {
  display: inline-block;
}

.progress-bar {
  font-size: 3rem;
}

.ProgressText {
  text-align: left;
}
.Completed {
  display: inline-block;
}
.Completed {
  display: inline-block;
}
.VaccineImg {
width: 100%;
}
.Verbiage {
  font-size: rem(14);
  color: gray;
  display: flex;
  justify-content: center;
  display: inline-block;
}
.Footer {
  margin-top:13rem;
}
.FooterTabs {
  margin-top:60rem;
}

.Pledge {
  text-align:left;
padding-left:35px;

}

.css-1rtrksz {
  height: 15rem;
}
.ReasonText,
.css-1aya2g8,
.css-2o5izw{
  width: 100%;
  height: rem(50);
  font-size: rem(16);
  padding-left: rem(16);
  border: none !important;  
  margin-bottom: rem(24);  
  outline: 0 !important;  
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: rem(10) rem(15);
}

.css-d8oujb {
  display: none;
}

.PledgeQuestion {
  font-size: rem(18);
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 20px;
}

.PledgeAnswer {
  margin-bottom: rem(20);

  & + * {
    font-size: rem(16) !important;
  }  
}

.card_lo {
  max-width: 480px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: deepskyblue;
  padding: rem(0) rem(20);
  height: rem(75);
  width: 100%;
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  font-size: calc(16px + 2vmin);
  color: white;  
  font-weight: 600;
  font-size: rem(21);

  & + div {
    margin-top: rem(75);
    padding-bottom: rem(50);
  }
}
.confidence{
  padding-left: 1rem;
}
.Header {
  font-weight: 800; 
  font-size: rem(16);
  margin-bottom: 10px;
}
.Form {
  text-align: center;
  margin-top: rem(25);
}
.CancelCard {
  background-color: white;
  padding: rem(20) rem(20);
  width: 100%;
  display: inline-block;
  text-align: center;
  overflow: auto;  
}
.Card {
  background-color: white;
  padding: rem(30) rem(20);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FaqCard {
  background-color: yellow !important;
  padding: 20px;
  width: 100%;
  display: inline-block;
}
.fa,.fa-angle-up {
  font-size: 2.8rem;
  padding-left:100px;
  float:right;
}

.Title {
  font-size: calc(10px + 2vmin);
  color: black;
}
.FaqCard {
  background-color: white;
  color: black;
  font-weight: 300;
  font-size: calc(10px + 3vmin);
}

.loader {
  width: auto;
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: rgb(183, 155, 229);
  border-radius: 5px;
}

.Progress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}
.search-box-element {
  display: block;
  width: 10%;
  height: 3rem;
  padding: 3px 6px;
  border: 1px solid $light-gray-color;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1.25rem;
  color: $medium-gray-color;
  background-color: $white-color;
  border-radius: 1px;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.label-style {
  margin-top: 66px;
font-size: 3rem
}
.Upload {
  width:100%;
}

.btn {
  background-color: deepskyblue;
  color: white;
  border-radius: rem(100);  
  font-size: rem(16);
  font-weight: 700;
  padding: rem(15) rem(20);
  width: 100%;
  white-space: normal;
  border-color: initial;
  outline: none;
}

.Register {
  width: 90%;
}

.ordered-list {
  list-style-type: decimal;
  line-height: 1.5;
  text-align: left;
  margin-left: rem(15);
  font-size: rem(14);
  color: #666161;
  font-weight: 500;
}

.panel-heading {
  background-color: white !important;
}
