body {
  font-family: 'Baloo Thambi 2', cursive;
  font-weight: 400;
  color: $dark-gray-color;
  letter-spacing: rem(0.5);
  max-width: 480px;
  margin: auto;
  position: relative;
  background-color: #F8F8F8;
}

.flex-container {
  & > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

input,
textarea,
button {
  letter-spacing: rem(0.5);
}

input {
  height: rem(20);
}

p {
  font-size: rem(16);
  line-height: 1.2;
}

.VaccineCard {
  text-align: center;
  background-color: rgb(206, 213, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.Panel {
  padding-top:10px;
}

.Mission {
  margin-top: rem(30);
  margin-bottom: rem(30);
  font-size: rem(16.8) !important;
  line-height: 1.1;
  font-weight: 100;
}
.QuestionBlock {
  display: flex;
  align-items: center;
  margin-right: auto;
  width:100%;
  padding-top: 10px;

  .fa-angle-down {
    font-size: rem(25);
    padding-left: rem(5);    
  }
}

.fa-arrow-left {
  float: left !important;
  font-size: 2rem !important;
  padding-left: 2px !important;
  color:white;
}

.css-1aya2g8 {
  background-color: white !important

}
.Cancel {
  color: deepskyblue;
  border-radius: 25px;  
  font-size: rem(16);
  display: inline-block;  
  margin-top: rem(30);
  font-weight: 600;
  background-color: initial;
  border: initial;
}

.CancelReason {
  color: #344356;
}
.panel {
  margin-bottom:3px;
  background-color: white  !important;
  border: none;
  box-shadow: none;
}
.Footer {
  max-width: 480px;  
  position: relative;
  height: rem(50);
  background: white;
}

.FaqTabs {
  width:50%;
  height: 100%;
  float: left;
  background-color: white;
  display: flex;
  align-items: center;
}

.ChennaiTricolor,
.ChennaiVolTaskForce {
  width: 90%;
  background-color: white;;
}
.ChennaiVolTaskForce + .ChennaiTricolor {
  margin-left: 20px;
}

.Latest {
  text-align: left;
  padding-left: 35px;
}
.TricolorImage {
  display: flex;
  align-items: center;
  width:20%;
  height: 100%;  
  background-color: white;
}
.nav {
  width: 100%;
}
.nav-tabs>li{
  width: 90%;
  text-align: center;
  background-color: white;
}

.nav-tabs>li>a {
  color: black;
  text-align: center;
  font-size: rem(18);
  padding-left: rem(20);
  text-align: left;
  border: 0 !important;
}
.Questions {
  font-size: rem(16);
  font-weight: 600;
  float:left;
  margin-right: auto;
}

.progress-bar {
  font-size: 3rem;
}

.ProgressText {
  text-align: left;
}
.Completed {
  display: inline-block;
}

.progress-bar {
  font-size: 3rem;
}

.ProgressText {
  text-align: left;
}
.Completed {
  display: inline-block;
}
.Completed {
  display: inline-block;
}
.VaccineImg {  
  width: 100%; 
}

.VaccineImgCover {  
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}
.Verbiage {
  font-size: rem(14);
  color: gray;
  display: flex;
  justify-content: center;
  display: inline-block;
}

.FooterTabs {
  margin-top:60rem;
}

.Pledge {
  text-align:left;
padding-left:35px;

}

.css-1rtrksz {
  height: 15rem;
}
.ReasonText,
.css-1aya2g8,
.css-2o5izw{
  width: 100%;
  height: rem(50);
  font-size: rem(16);
  padding-left: rem(16);
  border: 1px solid lightgray;
  margin-bottom: rem(24);  
  outline: 0 !important;    
  border-radius: 8px;
  padding: rem(10) rem(15);
}
.Comment {
  list-style-type: decimal;
  line-height: 1.5;
  text-align: left;
  font-size: rem(16);
  color: #666161;
  font-weight: 500;
}

.css-d8oujb {
  display: none;
}

.PledgeQuestion {
  font-size: rem(18);
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 20px;
}

.PledgeAnswer {
  margin-bottom: rem(20);

  & + * {
    font-size: rem(16) !important;
  }  
}

.BadgeWrapper {
  padding: rem(40) rem(20);
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
}
 
.BadgeContent {  
  flex: 1;

  & + & {
   flex: initial !important; 
  }
}

.BadgeText {
  color: white;
  font-weight: 500;
  font-size: rem(19);
}

.TaskForce {

  font-family: Baloo Thambi 2;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* or 200% */

text-decoration-line: underline;

color: #1D1D1D;
}

.BadgeConclusion {  
  color: white;
  font-size: rem(17);
  line-height: 1.2;
}

.Badgebottom {  
  font-size: rem(19);
  font-weight:bold;
  color: #040100;
  margin-bottom: 5px;
}
.BadgeMiddle {
  font-size: rem(16);
  font-weight:300;
  color: #020102;
}
.BadgeBottomConclusion {
  font-size: rem(19);
  font-weight: bold;
  color: #020102;
  margin-top: 20px;
}
.BadgeUser {
  color: white;
  font-size: rem(26);
  font-weight: 700;
}

.PledgeHeader {
  color:  #040100;
}
.card_lo {
  max-width: 480px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: deepskyblue;
  padding: rem(0) rem(20);
  height: rem(75);
  width: 100%;
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  font-size: calc(16px + 2vmin);
  color: white;  
  font-weight: 600;
  font-size: rem(21);

  & + div {
    margin-top: rem(75);    
  }
}
.confidence{
  padding-left: 1rem;
}
.Header {
  font-weight: 800; 
  font-size: rem(16);
  margin-bottom: 10px;
}
.Form {
  text-align: center;
  margin-top: rem(25);
}
.CancelCard {
  background-color: #F8F8F8;
  padding: rem(20) rem(20);
  width: 100%;
  display: inline-block;
  text-align: left;
  overflow: auto;  
}

.CancelCardBg {
  padding: rem(20);
  background-color: #FEEF05;
  border-radius: 8px;
}

.Card {
  background-color: #F8F8F8;
  padding: rem(30) rem(20);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FaqCard {
  background-color: #FEEF05 !important;
  padding: 20px;
  width: 100%;
  display: inline-block;
}
.Volunteers {
text-align: center;
padding-top: 5px;
margin-bottom: 4px;
}
.fa,.fa-angle-up {
  font-size: 2.8rem;
  padding-left:100px;
  float:right;
}

.Title {
  font-size: calc(10px + 2vmin);
  color: black;
}
.FaqCard {
  background-color: white;
  color: black;
  font-weight: 300;
  font-size: calc(10px + 3vmin);
}

.loader {
  width: auto;
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: rgb(183, 155, 229);
  border-radius: 5px;
}

.Progress {
  background-color: rgba(103, 58, 183, 1);
  height: 100%;
  margin: 0;
  border-radius: 5px;
}
.search-box-element {
  display: block;
  width: 10%;
  height: 3rem;
  padding: 3px 6px;
  border: 1px solid $light-gray-color;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1.25rem;
  color: $medium-gray-color;
  background-color: $white-color;
  border-radius: 1px;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.label-style {
  margin-top: 66px;
font-size: 3rem
}
.Upload {
  width:100%;
}

#uncontrolled-tab-example-tab-faq {
  background-color: white;
}

.btn {
  background-color: deepskyblue;
  color: white;
  border-radius: rem(100);  
  font-size: rem(16);
  font-weight: 700;
  padding: rem(15) rem(20);
  width: 100%;
  white-space: normal;
  border-color: initial;
  outline: none;
}

.Register {
  width: 90%;
}

.Share {
  background-color:#D93141 !important;
  margin-top: 22px;  
  border: 0;
}

.ordered-list {
  list-style-type: decimal;
  line-height: 1.5;
  text-align: left;
  margin-left: rem(15);
  font-size: rem(16);
  color: #666161;
  font-weight: 500;
}
.unordered-list {
  line-height: 1.5;
  text-align: left;
  margin-left: rem(15);
  font-size: rem(14);
  color: #666161;
  font-weight: 500;
}
.panel-heading {
  background-color: white !important;
}


.checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;

  width: 100%;
  height: rem(50);
  font-size: rem(16);
  padding-left: rem(16);
  margin-bottom: rem(24);  
  outline: 0 !important;    
  border-radius: 8px;
  padding: rem(10) rem(15);
}
.LangToggle, .LangTamil {
  border: 1px solid #FDF316;
  border-radius: 5px;
  margin-left: auto;
  overflow: hidden;
  min-width: 112px;
  white-space: nowrap;
}

.English, .TamilChecked {    
    background-color: #FDF316;
    font-size: rem(14);
    display: inline-block;
    padding: 5px;
}

.Tamil, .EnglishUnchecked {
  display: inline-block;
  font-size: rem(14);
  padding: 5px;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border: 1px solid lightgray;
  border-radius: 7px;
}
.checkbox-blue {
  position: absolute;
  left: 0;
  bottom:0;
  top:0;
  height: 25px;
  width: 25px;
  background-color:deepskyblue;
  border: 1px solid lightgray;
  border-radius: 7px;
}
.checkbox-blue:before {
  position: absolute;
  font-family: 'FontAwesome';
  /* top: 0; */
  top: 2px;
  color: white;
  left: 4px;
  content: "\f00c";
}

.checkboxContainer input:checked ~ .checkbox:after {
  display: block;
}

.checkboxContainer .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
