
.ProgressBar {
    width: 100%;
    height: 8px;
    background-color: rgb(183, 155, 229);
    border-radius: 5px;
  }
  
  .Progress {
    background-color: rgba(103, 58, 183, 1);
    height: 100%;
    margin: 0;
    border-radius: 5px;
  }

  .progress-bar {
    width: 100%;
    background-color: #64CE41;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: rem(5);
    font-weight: 600;
    font-size: rem(11);
  }

  .progress {
    height: rem(12);
    border-radius: rem(25);
    margin: 0 rem(15);
  }